**/bin/
!vendor/bin/premake/
bin-int/

# Visual Studio files and folder
.vs/
**.sln
**.vcxproj
**.vcxproj.filters
**.vcxproj.user
*.log

Sandbox/AtlasProfile-Runtime.json
Sandbox/AtlasProfile-Shutdown.json
Sandbox/AtlasProfile-Startup.json
Sandbox/imgui.ini
