[submodule "Atlas/vendor/spdlog"]
	path = Atlas/vendor/spdlog
	url = ../../gabime/spdlog.git
	branch = v1.x
[submodule "Atlas/vendor/GLFW"]
	path = Atlas/vendor/GLFW
	url = ../../Bart-soldier/glfw.git
	branch = master
[submodule "Atlas/vendor/imgui"]
	path = Atlas/vendor/imgui
	url = ../../Bart-soldier/imgui.git
	branch = docking
[submodule "Atlas/vendor/glm"]
	path = Atlas/vendor/glm
	url = ../../g-truc/glm.git
	branch = master
[submodule "Atlas/vendor/yaml-cpp"]
	path = Atlas/vendor/yaml-cpp
	url = https://github.com/Bart-soldier/yaml-cpp
