# Binaries
**/bin/
bin-int/

# Atlas files
*.log
**/AtlasProfile-Runtime.json
**/AtlasProfile-Shutdown.json
**/AtlasProfile-Startup.json
#**/imgui.ini

# Visual Studio files and folder
.vs/
**.sln
**.vcxproj
**.vcxproj.filters
**.vcxproj.user
**.csproj

# Directories
Atlas/vendor/VulkanSDK
Atlas-Editor/assets/cache
scripts/__pycache__