# Binaries
**/bin/
!vendor/premake/bin/
bin-int/

# Atlas files
*.log
**/AtlasProfile-Runtime.json
**/AtlasProfile-Shutdown.json
**/AtlasProfile-Startup.json
#**/imgui.ini

# Visual Studio files and folder
.vs/
**.sln
**.vcxproj
**.vcxproj.filters
**.vcxproj.user
**.csproj